header{
    text-align: center;
    border-bottom: 2px solid re;

}

h1{
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 70px;

}


body{
    
    background-image: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=1060&t=st=1680953008~exp=1680953608~hmac=f2e6878910b0475487237e87bdc171661d03213398cdbddd63e99f63eb02fc7c);
}

p{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px
}

#question,input{
    margin-left: 110px;
}

input{
    width:400px;
    height: 25px;
    background-color: aquamarine;
    border-radius: 5px;
    border: 2px solid green;
}


footer{
    width: 100%vw;
    height: 100px;
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(245, 47, 126);
    color: white;
    border-radius: 5px;
}

#btn-div{
    margin-top: 60px;
    margin-left: 530px;
    
}


button:hover{
    background-color: aquamarine;
    color: black;
    font-size: 20px;
}


h2{
    color: rgb(11, 188, 70);
    font-size: 40px;
}

h3{
    color: rgb(233, 44, 15);
    font-size: 30px;
    font-family:cursive
}


span{
 position: absolute;
 top:350px;
 left:500px;
 width:550px;
 height: 400px;
 display: none;

 border-radius: 5px;
 border: 2px solid rgb(13, 220, 82);
background-color: rgb(149, 251, 217);
 text-align: center;
}